<h1>Noterizer</h1>
<p>This application backs a tutorial on setting up Ruby on Rails to front an external API.</p>
<p>The tutorial demonstrates how build out a JSON endpoint fronting the XML served by <a href="<%= Rails.application.config.notes_xml_service_root %>">NotesXmlService</a>.</p>
